input[type='text'] {
  height: 40px;
  padding: 0 15px;
  width: 300px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border: 1px solid white;
  letter-spacing: 1px;
  outline: none;
}
button {
  height: 42px;
  width: 90px;
  background-color: white;
  border: 1px solid white;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-left: 1px solid lightgray;
  letter-spacing: 1px;
  color: #624848;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 300ms;
}
button:hover {
  color: white;
  background-color: transparent;
}
form#search-form {
  display: flex;
  justify-content: center;
  height: 70px;
  flex-direction: row;
  background-color: teal;
  align-items: center;
}
body {
  margin: 0;
}
